<div class="d-flex flex-column body-card">
  <h3 class="text-primary mt-md-2" jhiTranslate="sheepFarm.gestation.updateHeader"></h3>

  <form role="form" [formGroup]="form">
    <div class="form-group form-inline">
      <label jhiTranslate="sheepFarm.gestation.impregnationDate" class="col-md-2"></label>
      <div class="col-md-4 input-group">
        <input
          type="text"
          class="form-control"
          id="impregnationDate"
          formControlName="impregnationDate"
          placeholder="{{ 'sheepFarm.gestation.impregnationDatePlaceholder' | translate }}"
          name="impregnationDate"
          ngbDatepicker
          #impregnationDate="ngbDatepicker"
          [autoClose]="true"
          [readonly]="true"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="impregnationDate.toggle()" type="button"></button>
        </div>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'impregnationDate':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'sheepFarm.gestation.impregnationDate' | translate } }}
        </small>
      </div>

      <label jhiTranslate="sheepFarm.gestation.numberOfLambs" class="col-md-2 mt-md-3 required"></label>
      <div class="col-md-4 mt-md-3">
        <input
          type="number"
          class="form-control"
          id="numberOfLambs"
          formControlName="numberOfLambs"
          placeholder="{{ 'sheepFarm.gestation.numberOfLambsPlaceholder' | translate }}"
          min="1"
        />

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'numberOfLambs':['required']">
          {{ 'global.message.error.required' | translate: { fieldName: 'sheepFarm.gestation.numberOfLambs' | translate } }}
        </small>
        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'numberOfLambs':['min']:['required']">
          {{ 'sheepFarm.message.error.numberOfLambsPattern' | translate }}
        </small>
      </div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button type="submit" (click)="update()" [disabled]="submitting" class="btn btn-success">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>

          <span jhiTranslate="sheepFarm.gestation.lambedButton" *ngIf="!submitting"></span>
        </button>
      </div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button
          type="button"
          [routerLink]="['/', 'sheep-familyTree', 'view', item?.ewe?.id]"
          [disabled]="submitting"
          class="btn btn-light"
          jhiTranslate="global.cancel"
        ></button>
      </div>
    </div>
  </form>
</div>
