<div class="d-flex flex-column body-card">
  <h3 class="text-primary mt-md-2" jhiTranslate="familyTree.editFamilyTreeHeader"></h3>

  <form role="form" [formGroup]="form">
    <div class="form-group">
      <div class="row">
        <label jhiTranslate="familyTree.nameAr" class="col-md-2 required"></label>
        <div class="col-md-4 input">
          <input
            type="text"
            class="form-control"
            id="nameAr"
            formControlName="nameAr"
            placeholder="{{ 'familyTree.nameArPlaceholder' | translate }}"
          />

          <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'nameAr':['required']">
            {{ 'global.message.error.required' | translate: { fieldName: 'familyTree.nameAr' | translate } }}
          </small>
          <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'nameAr':['minlength', 'maxlength']:['required']">
            {{ 'global.message.error.pattern' | translate: { fieldName: 'familyTree.nameAr' | translate } }}
          </small>
        </div>
      </div>

      <div class="row mt-md-3">
        <div class="col-md-2 mx-md-2 form-btn">
          <button type="submit" (click)="edit()" [disabled]="submitting" class="btn btn-success">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>

            <span jhiTranslate="familyTree.editButton" *ngIf="!submitting"></span>
          </button>
        </div>

        <div class="col-md-2 mx-md-2 form-btn">
          <button
            type="button"
            [routerLink]="['/', 'family-tree-management']"
            [disabled]="submitting"
            class="btn btn-light"
            jhiTranslate="global.cancel"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
