<div class="d-flex flex-column body-card" *ngIf="parent">
  <div class="d-flex justify-content-between flex-lg-row">
    <h3 class="text-primary mt-md-2" jhiTranslate="sheepFarm.listSheepChildrenTitle"></h3>

    <button
      type="button"
      *ngIf="parent.status.code === 'HALE' || parent.status.code === 'SICK'"
      [routerLink]="['/', 'sheep-farm', 'add']"
      class="btn btn-success"
    >
      <span jhiTranslate="sheepFarm.addButton"></span>
    </button>
  </div>

  <form>
    <!-- FILTERs -->
    <div class="form-group form-inline mt-4">
      <label jhiTranslate="sheepFarm.number" class="col-md-2"></label>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="number"
          [(ngModel)]="service.number"
          placeholder="{{ 'sheepFarm.numberFilterPlaceholder' | translate }}"
          name="number"
        />
      </div>

      <label jhiTranslate="sheepFarm.name" class="col-md-2"></label>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="service.name"
          placeholder="{{ 'sheepFarm.nameFilterPlaceholder' | translate }}"
          name="name"
        />
      </div>

      <label jhiTranslate="sheepFarm.type" class="col-md-2 mt-md-3"></label>
      <div class="col-md-4 mt-md-3">
        <jhi-dropdown [data]="sheepTypes" name="type" [(ngModel)]="service.type" placeholder="sheepFarm.typeFilterPlaceholder">
        </jhi-dropdown>
      </div>

      <label jhiTranslate="sheepFarm.status" class="col-md-2 mt-md-3"></label>
      <div class="col-md-4 mt-md-3">
        <jhi-dropdown [data]="sheepStatuses" name="status" [(ngModel)]="service.status" placeholder="sheepFarm.statusFilterPlaceholder">
        </jhi-dropdown>
      </div>

      <label jhiTranslate="sheepFarm.category" class="col-md-2 mt-md-3"></label>
      <div class="col-md-4 mt-md-3">
        <jhi-dropdown
          [data]="sheepCategories"
          name="category"
          [(ngModel)]="service.category"
          placeholder="sheepFarm.categoryFilterPlaceholder"
        >
        </jhi-dropdown>
      </div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button type="button" (click)="service.load()" [disabled]="service.loading" class="btn btn-primary">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="service.loading"></span>

          <span jhiTranslate="sheepFarm.listFilterButton" *ngIf="!service.loading"></span>
        </button>
      </div>
      <div class="col-md-3 mx-md-2 mt-md-3 form-btn">
        <button
          type="button"
          (click)="service.clearFilters()"
          [disabled]="service.loading"
          class="btn btn-primary"
          jhiTranslate="sheepFarm.clearFilterButton"
        ></button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover mt-4">
        <thead class="thead-dark">
          <tr>
            <th style="width: 10%" scope="col" jhiTranslate="sheepFarm.fatherNumber" *ngIf="parent.gender.code === 'FEMALE'"></th>
            <th style="width: 15%" scope="col" jhiTranslate="sheepFarm.fatherName" *ngIf="parent.gender.code === 'FEMALE'"></th>
            <th style="width: 10%" scope="col" jhiTranslate="sheepFarm.motherNumber" *ngIf="parent.gender.code === 'MALE'"></th>
            <th style="width: 15%" scope="col" jhiTranslate="sheepFarm.motherName" *ngIf="parent.gender.code === 'MALE'"></th>
            <th style="width: 15%" scope="col" jhiTranslate="sheepFarm.number" jhiSortable="number" (sort)="onSort($event)"></th>
            <th style="width: 15%" scope="col" jhiTranslate="sheepFarm.name"></th>
            <th style="width: 10%" scope="col" jhiTranslate="sheepFarm.type"></th>
            <th style="width: 10%" scope="col" jhiTranslate="sheepFarm.status"></th>
            <th style="width: 10%" scope="col" jhiTranslate="sheepFarm.category"></th>
            <th style="width: 15%" scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="service.list" [class.loading]="service.loading">
          <tr *ngFor="let item of service.list">
            <td *ngIf="parent.gender.code === 'FEMALE'">{{ item.father?.number }}</td>
            <td *ngIf="parent.gender.code === 'FEMALE'">{{ item.father?.name }}</td>
            <td *ngIf="parent.gender.code === 'MALE'">{{ item.mother?.number }}</td>
            <td *ngIf="parent.gender.code === 'MALE'">{{ item.mother?.name }}</td>
            <td>{{ item.number }}</td>
            <td>{{ item.name }}</td>
            <td>
              {{ currentLanguage | async | showLanguage: item.type }}
            </td>
            <td>
              {{ currentLanguage | async | showLanguage: item.status }}
            </td>
            <td>
              {{ currentLanguage | async | showLanguage: item.category }}
            </td>
            <td>
              <a class="mx-md-3" [routerLink]="['/', 'sheep-farm', 'view', item.id]">
                <fa-icon [icon]="faEye"></fa-icon>
              </a>
            </td>
          </tr>
        </tbody>
        <caption>
          {{
            'global.numberOfRecords' | translate: { fieldName: 'sheepFarm.listSheepTitle' | translate }
          }}
          {{
            service.totalRecords
          }}
        </caption>
      </table>
    </div>

    <ngb-pagination
      *ngIf="service.totalRecords > 10"
      class="d-flex justify-content-center"
      [collectionSize]="service.totalRecords"
      [(page)]="service.page"
      [pageSize]="service.size"
    >
    </ngb-pagination>
  </form>
</div>
