<div class="d-flex flex-column body-card">
  <h4 class="text-primary mt-md-2" jhiTranslate="global.contactUsDetails.title"></h4>

  <p jhiTranslate="global.contactUsDetails.message"></p>

  <div class="col-lg-4 mb-3">
    <div class="row">
      <div class="icon bg-success text-white">
        <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
      </div>
      <div class="text mr-3">
        <h6 class="mb-0" jhiTranslate="global.contactUsDetails.email"></h6>
        <span class="text-gray-500">familytreemail@gmail.com</span>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-3">
    <div class="row">
      <div class="icon bg-success text-white">
        <div class="dot bg-success mx-3"></div>
      </div>
      <div class="text mr-3">
        <h6 class="mb-0" jhiTranslate="global.contactUsDetails.twitter"></h6>
        <span class="text-gray-500">familytreeksa</span>
      </div>
    </div>
  </div>
</div>
