<div class="d-flex flex-column body-card">
  <h3 class="text-primary mt-md-2" jhiTranslate="sheepFarm.gestation.lambedHeader"></h3>

  <form role="form" [formGroup]="form">
    <div class="form-group form-inline">
      <label jhiTranslate="sheepFarm.gestation.lambingDate" class="col-md-2"></label>
      <div class="col-md-4 input-group">
        <input
          type="text"
          class="form-control"
          id="lambingDate"
          formControlName="lambingDate"
          placeholder="{{ 'sheepFarm.gestation.lambingDatePlaceholder' | translate }}"
          name="lambingDate"
          ngbDatepicker
          #lambingDate="ngbDatepicker"
          [autoClose]="true"
          [readonly]="true"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="lambingDate.toggle()" type="button"></button>
        </div>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'lambingDate':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'sheepFarm.gestation.lambingDate' | translate } }}
        </small>
      </div>

      <label jhiTranslate="sheepFarm.gestation.numberOfLambs" class="col-md-2 mt-md-3 required"></label>
      <div class="col-md-4 mt-md-3">
        <input
          type="number"
          class="form-control"
          id="numberOfLambs"
          formControlName="numberOfLambs"
          placeholder="{{ 'sheepFarm.gestation.numberOfLambsPlaceholder' | translate }}"
          min="1"
        />

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'numberOfLambs':['required']">
          {{ 'global.message.error.required' | translate: { fieldName: 'sheepFarm.gestation.numberOfLambs' | translate } }}
        </small>
        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'numberOfLambs':['min']:['required']">
          {{ 'sheepFarm.message.error.numberOfLambsPattern' | translate }}
        </small>
      </div>

      <ng-container formArrayName="lambs">
        <ng-container *ngFor="let lambForm of lambs.controls; let i = index">
          <ng-container [formGroup]="getLambForm(i)">
            <label class="col-md-2 required"> {{ 'sheepFarm.number' | translate }} {{ i + 1 }} </label>
            <div class="col-md-4">
              <input
                type="text"
                class="form-control"
                id="number"
                formControlName="number"
                placeholder="{{ 'sheepFarm.numberPlaceholder' | translate }}"
              />

              <small class="form-text text-danger" *ngIf="getLambForm(i) | showErrorMessage: 'number':['required']">
                {{ 'global.message.error.required' | translate: { fieldName: 'sheepFarm.number' | translate } }}
              </small>
              <small
                class="form-text text-danger"
                *ngIf="getLambForm(i) | showErrorMessage: 'number':['minlength', 'maxlength']:['required']"
              >
                {{ 'global.message.error.pattern' | translate: { fieldName: 'sheepFarm.number' | translate } }}
              </small>
            </div>

            <label class="col-md-2 mt-md-3 required"> {{ 'sheepFarm.gender' | translate }} {{ i + 1 }} </label>
            <div class="col-md-4 mt-md-3">
              <jhi-dropdown [data]="sheepGenderes" formControlName="gender" placeholder="sheepFarm.genderPlaceholder"> </jhi-dropdown>

              <small class="form-text text-danger" *ngIf="getLambForm(i) | showErrorMessage: 'gender':['required']">
                {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'sheepFarm.gender' | translate } }}
              </small>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button type="submit" (click)="lambed()" [disabled]="submitting" class="btn btn-success">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>

          <span jhiTranslate="sheepFarm.gestation.lambedButton" *ngIf="!submitting"></span>
        </button>
      </div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button
          type="button"
          [routerLink]="['/', 'sheep-farm', 'view', item?.ewe?.id]"
          [disabled]="submitting"
          class="btn btn-light"
          jhiTranslate="global.cancel"
        ></button>
      </div>
    </div>
  </form>
</div>
