<div class="d-flex flex-column body-card" *ngIf="parent">
  <div class="d-flex justify-content-between flex-lg-row">
    <h3 class="text-primary mt-md-2" jhiTranslate="sheepFarm.gestation.listTitle"></h3>

    <button
      type="button"
      *ngIf="parent.status.code === 'HALE' || parent.status.code === 'SICK'"
      [routerLink]="['/', 'sheep-familyTree', 'add-gestation', parent.id]"
      class="btn btn-success"
    >
      <span jhiTranslate="sheepFarm.gestation.addButton"></span>
    </button>
  </div>

  <form>
    <!-- FILTERs -->
    <div class="form-group form-inline mt-4">
      <label jhiTranslate="sheepFarm.gestation.fromFilter" class="col-md-2"></label>
      <div class="col-md-4 input-group">
        <input
          type="text"
          class="form-control"
          id="fromFilter"
          [(ngModel)]="service.dateGraterThanOrEqual"
          placeholder="{{ 'sheepFarm.gestation.fromFilterPlaceholder' | translate }}"
          name="fromFilter"
          ngbDatepicker
          #fromFilter="ngbDatepicker"
          [autoClose]="true"
          [readonly]="true"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="fromFilter.toggle()" type="button"></button>
        </div>
      </div>

      <label jhiTranslate="sheepFarm.gestation.toFilter" class="col-md-2"></label>
      <div class="col-md-4 input-group">
        <input
          type="text"
          class="form-control"
          id="toFilter"
          [(ngModel)]="service.dateLessThanOrEqual"
          placeholder="{{ 'sheepFarm.gestation.toFilterPlaceholder' | translate }}"
          name="toFilter"
          ngbDatepicker
          #toFilter="ngbDatepicker"
          [autoClose]="true"
          [readonly]="true"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="toFilter.toggle()" type="button"></button>
        </div>
      </div>

      <label jhiTranslate="sheepFarm.gestation.status" class="col-md-2 mt-md-3"></label>
      <div class="col-md-4 mt-md-3">
        <jhi-dropdown
          [data]="gestationStatuses"
          name="gestation"
          [(ngModel)]="service.status"
          placeholder="sheepFarm.gestation.statusFilterPlaceholder"
        >
        </jhi-dropdown>
      </div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button type="button" (click)="service.load()" [disabled]="service.loading" class="btn btn-primary">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="service.loading"></span>

          <span jhiTranslate="sheepFarm.listFilterButton" *ngIf="!service.loading"></span>
        </button>
      </div>
      <div class="col-md-3 mx-md-2 mt-md-3 form-btn">
        <button
          type="button"
          (click)="service.clearFilters()"
          [disabled]="service.loading"
          class="btn btn-primary"
          jhiTranslate="sheepFarm.clearFilterButton"
        ></button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover mt-4">
        <thead class="thead-dark">
          <tr>
            <th style="width: 10%" scope="col" jhiTranslate="sheepFarm.gestation.eweNumber" *ngIf="parent.gender.code === 'MALE'"></th>
            <th style="width: 15%" scope="col" jhiTranslate="sheepFarm.gestation.eweName" *ngIf="parent.gender.code === 'MALE'"></th>
            <th style="width: 10%" scope="col" jhiTranslate="sheepFarm.gestation.ramNumber" *ngIf="parent.gender.code === 'FEMALE'"></th>
            <th style="width: 15%" scope="col" jhiTranslate="sheepFarm.gestation.ramName" *ngIf="parent.gender.code === 'FEMALE'"></th>
            <th style="width: 13%" scope="col" jhiTranslate="sheepFarm.gestation.impregnationDate"></th>
            <th style="width: 13%" scope="col" jhiTranslate="sheepFarm.gestation.lambingDate"></th>
            <th style="width: 10%" scope="col" jhiTranslate="sheepFarm.gestation.status"></th>
            <th style="width: 10%" scope="col" jhiTranslate="sheepFarm.gestation.numberOfLambs"></th>
            <th style="width: 10%" scope="col" jhiTranslate="sheepFarm.gestation.numberOfWeeks"></th>
            <th style="width: 19%" scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="service.list" [class.loading]="service.loading">
          <tr *ngFor="let item of service.list">
            <td *ngIf="parent.gender.code === 'MALE'">{{ item.ewe.number }}</td>
            <td *ngIf="parent.gender.code === 'MALE'">{{ item.ewe.name }}</td>
            <td *ngIf="parent.gender.code === 'FEMALE'">{{ item.ram.number }}</td>
            <td *ngIf="parent.gender.code === 'FEMALE'">{{ item.ram.name }}</td>
            <td>{{ item.impregnationDate | date: 'yyyy-MM-dd' }}</td>
            <td>
              <span *ngIf="item.status.code === 'HALE'">{{ '(' + (item.lambingDate | date: 'yyyy-MM-dd') + ')' }}</span>
              <span *ngIf="item.status.code === 'LAMBED'">{{ item.lambingDate | date: 'yyyy-MM-dd' }}</span>
            </td>
            <td>
              {{ currentLanguage | async | showLanguage: item.status }}
            </td>
            <td>{{ item.numberOfLambs }}</td>
            <td>{{ item.numberOfWeeks }}</td>
            <td>
              <button
                *ngIf="item.status.code === 'HALE' && (parent.status.code === 'HALE' || parent.status.code === 'SICK')"
                type="button"
                [routerLink]="['/', 'sheep-familyTree', 'lambed-gestation', item.id]"
                class="btn btn-primary btn-sm py-0"
              >
                <span jhiTranslate="sheepFarm.gestation.lambed"></span>
              </button>
              <button
                *ngIf="item.status.code === 'HALE' && (parent.status.code === 'HALE' || parent.status.code === 'SICK')"
                type="button"
                [routerLink]="['/', 'sheep-familyTree', 'aborted-gestation', item.id]"
                class="btn btn-primary btn-sm py-0"
              >
                <span jhiTranslate="sheepFarm.gestation.aborted"></span>
              </button>
              <a
                *ngIf="item.status.code === 'HALE' && (parent.status.code === 'HALE' || parent.status.code === 'SICK')"
                class="href mx-md-3"
                [routerLink]="['/', 'sheep-familyTree', 'update-gestation', item.id]"
              >
                <fa-icon [icon]="faEdit" class="text-primary"></fa-icon>
              </a>
              <a
                *ngIf="(isMain && parent.status.code === 'HALE') || parent.status.code === 'SICK'"
                [class.disabled]="deleting"
                class="href mx-md-3"
                (click)="delete(item.id)"
              >
                <fa-icon [icon]="faTrashAlt" class="text-danger"></fa-icon>
              </a>
            </td>
          </tr>
        </tbody>
        <caption>
          {{
            'global.numberOfRecords' | translate: { fieldName: 'sheepFarm.gestation.listTitle' | translate }
          }}
          {{
            service.totalRecords
          }}
        </caption>
      </table>
    </div>

    <ngb-pagination
      *ngIf="service.totalRecords > 10"
      class="d-flex justify-content-center"
      [collectionSize]="service.totalRecords"
      [(page)]="service.page"
      [pageSize]="service.size"
    >
    </ngb-pagination>
  </form>
</div>

<jhi-confirm-modal #confirmDeleteModal messageKey="sheepFarm.gestation.deleteMessage" (confirmed)="confirmed($event)"> </jhi-confirm-modal>
