<div class="d-flex flex-column body-card">
  <h3 class="text-primary mt-md-2" jhiTranslate="familyTree.treatment.addHeader"></h3>

  <form role="form" [formGroup]="form">
    <div class="form-group form-inline">
      <label jhiTranslate="familyTree.treatment.type" class="col-md-2 required"></label>
      <div class="col-md-4">
        <jhi-dropdown [data]="treatmentTypes" formControlName="type" placeholder="familyTree.treatment.typeFilterPlaceholder"> </jhi-dropdown>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'type':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'familyTree.treatment.type' | translate } }}
        </small>
      </div>
      <label jhiTranslate="familyTree.treatment.secondDoseDate" class="col-md-2"></label>
      <div class="col-md-4 input-group">
        <input
          type="text"
          class="form-control"
          id="secondDoseDate"
          formControlName="secondDoseDate"
          placeholder="{{ 'familyTree.treatment.secondDoseDatePlaceholder' | translate }}"
          name="hatchingDate"
          ngbDatepicker
          #secondDoseDate="ngbDatepicker"
          [autoClose]="true"
          [readonly]="true"
          [minDate]="todayDate"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="secondDoseDate.toggle()" type="button"></button>
        </div>
      </div>

      <label jhiTranslate="familyTree.treatment.description" class="col-md-2 mt-md-3 required"></label>
      <div class="col-md-4 mt-md-3">
        <input
          type="text"
          class="form-control"
          id="description"
          formControlName="description"
          placeholder="{{ 'familyTree.treatment.descriptionPlaceholder' | translate }}"
        />

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'description':['required']">
          {{ 'global.message.error.required' | translate: { fieldName: 'familyTree.treatment.description' | translate } }}
        </small>
        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'description':['minlength', 'maxlength']:['required']">
          {{ 'global.message.error.pattern' | translate: { fieldName: 'familyTree.treatment.description' | translate } }}
        </small>
      </div>

      <div class="col-md-6 mt-md-3 checkbox">
        <input type="checkbox" class="form-check-input" id="allWarehouse" formControlName="allWarehouse" />
        <label class="form-check-label text-muted" jhiTranslate="familyTree.treatment.gicenToAllWarehouse"></label>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'allWarehouse':['required']">
          {{ 'global.message.error.requiredTrue' | translate }}
        </small>
      </div>

      <label jhiTranslate="familyTree.treatment.coops" class="col-md-2 required mt-md-3" *ngIf="showCoops"></label>
      <div class="col-md-4 mt-md-3" *ngIf="showCoops">
        <ng-multiselect-dropdown
          [settings]="coopsDropdownSettings"
          [data]="coops"
          formControlName="coops"
          [placeholder]="'familyTree.treatment.coopsPlaceholder' | translate"
        >
        </ng-multiselect-dropdown>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'coops':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'familyTree.treatment.coops' | translate } }}
        </small>
      </div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button type="submit" (click)="add()" [disabled]="submitting" class="btn btn-success">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>

          <span jhiTranslate="familyTree.treatment.addButton" *ngIf="!submitting"></span>
        </button>
      </div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button
          type="button"
          [routerLink]="['/', 'familyTree', 'treatment', warehouse?.id]"
          [disabled]="submitting"
          class="btn btn-light"
          jhiTranslate="global.cancel"
        ></button>
      </div>
    </div>
  </form>
</div>
