<div class="d-flex flex-column body-card">
  <h3 class="text-primary mt-md-2" jhiTranslate="familyTree.editWarehouseTitle"></h3>

  <form role="form" [formGroup]="form">
    <div class="form-group form-inline">
      <label jhiTranslate="familyTree.number" class="col-md-2 required"></label>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="number"
          formControlName="number"
          placeholder="{{ 'familyTree.numberPlaceholder' | translate }}"
        />

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'number':['required']">
          {{ 'global.message.error.required' | translate: { fieldName: 'familyTree.number' | translate } }}
        </small>
      </div>

      <div class="col-md-2 mx-md-2 form-btn">
        <button type="button" (click)="edit()" [disabled]="editing" class="btn btn-primary">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="editing"></span>

          <span jhiTranslate="familyTree.editWarehouseButton" *ngIf="!editing"></span>
        </button>
      </div>
    </div>
  </form>

  <h3 class="text-primary mt-md-4" jhiTranslate="familyTree.editWarehouseUsersTitle"></h3>

  <form>
    <div class="table-responsive">
      <table class="table table-hover mt-4">
        <thead class="thead-dark">
          <tr>
            <th style="width: 40%" scope="col" jhiTranslate="familyTree.userName"></th>
            <th style="width: 40%" scope="col" jhiTranslate="familyTree.email"></th>
            <th style="width: 20%" scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="familyTree?.familyTreeUsers" [class.loading]="!familyTree?.familyTreeUsers || submitting">
          <tr *ngFor="let item of familyTree?.familyTreeUsers">
            <td>{{ item.userFirstName + ' ' + item.userLastName }}</td>
            <td>{{ item.userEmail }}</td>
            <td>
              <a [class.disabled]="submitting" (click)="removeUser(item.userId)" *ngIf="item.added">
                <fa-icon [icon]="faUserMinus" class="text-danger"></fa-icon>
              </a>
              <a [class.disabled]="submitting" (click)="addUser(item.userId)" *ngIf="!item.added">
                <fa-icon [icon]="faUserPlus"></fa-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
