<div class="d-flex flex-column body-card">
  <h3 class="text-primary mt-md-2" jhiTranslate="sheepFarm.vaccination.addHeader"></h3>

  <form role="form" [formGroup]="form">
    <div class="form-group form-inline">
      <label jhiTranslate="sheepFarm.vaccination.type" class="col-md-2 required"></label>
      <div class="col-md-4">
        <jhi-dropdown [data]="sheepVaccinationTypes" formControlName="type" placeholder="sheepFarm.vaccination.typePlaceholder">
        </jhi-dropdown>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'type':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'sheepFarm.vaccination.type' | translate } }}
        </small>
      </div>

      <label jhiTranslate="sheepFarm.vaccination.name" class="col-md-2"></label>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="{{ 'sheepFarm.vaccination.namePlaceholder' | translate }}"
        />

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'name':['maxlength']">
          {{ 'global.message.error.pattern' | translate: { fieldName: 'sheepFarm.vaccination.name' | translate } }}
        </small>
      </div>

      <ng-container formArrayName="doses">
        <ng-container *ngFor="let dose of doses.controls; index as i; last as l">
          <ng-container [formGroup]="getDoseForm(i)">
            <label class="col-md-2 mt-md-3 required"> {{ 'sheepFarm.vaccination.doseDate' | translate }} {{ i + 1 }} </label>
            <div class="col-md-4 mt-md-3">
              <input
                type="number"
                class="form-control"
                id="day"
                formControlName="day"
                placeholder="{{ 'sheepFarm.vaccination.dayPlaceholder' | translate }}"
                style="display: inline; width: 49%"
                min="1"
                max="30"
              />
              <input
                type="number"
                class="form-control"
                id="month"
                formControlName="month"
                placeholder="{{ 'sheepFarm.vaccination.monthPlaceholder' | translate }}"
                style="display: inline; width: 49%"
                min="1"
                max="12"
              />

              <small
                class="form-text text-danger"
                *ngIf="(getDoseForm(i) | showErrorMessage: 'day':['required']) || (getDoseForm(i) | showErrorMessage: 'month':['required'])"
              >
                {{ 'global.message.error.required' | translate: { fieldName: 'sheepFarm.vaccination.doseDate' | translate } }}
              </small>
              <small
                class="form-text text-danger"
                *ngIf="
                  (getDoseForm(i) | showErrorMessage: 'day':['min', 'max']:['required']) &&
                  !(getDoseForm(i) | showErrorMessage: 'month':['min', 'max', 'required'])
                "
              >
                {{ 'sheepFarm.message.error.vaccineDayPattern' | translate }}
              </small>
              <small
                class="form-text text-danger"
                *ngIf="
                  (getDoseForm(i) | showErrorMessage: 'month':['min', 'max']:['required']) &&
                  !(getDoseForm(i) | showErrorMessage: 'day':['min', 'max', 'required'])
                "
              >
                {{ 'sheepFarm.message.error.vaccineMonthPattern' | translate }}
              </small>
            </div>

            <div class="col-md-6 mt-md-3 form-btn">
              <button
                type="button"
                (click)="addDose()"
                class="btn btn-success"
                style="width: auto"
                *ngIf="l"
                jhiTranslate="sheepFarm.vaccination.addDoseButton"
              ></button>
              <button
                type="button"
                (click)="removeDose()"
                class="btn btn-danger"
                style="width: auto"
                *ngIf="l && i !== 0"
                jhiTranslate="sheepFarm.vaccination.removeDoseButton"
              ></button>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button type="submit" (click)="add()" [disabled]="submitting" class="btn btn-success">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>

          <span jhiTranslate="sheepFarm.vaccination.addButton" *ngIf="!submitting"></span>
        </button>
      </div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button
          type="button"
          [routerLink]="['/', 'sheep-farm', 'list-sheep-vaccination']"
          [disabled]="submitting"
          class="btn btn-light"
          jhiTranslate="global.cancel"
        ></button>
      </div>
    </div>
  </form>
</div>
