<div class="d-flex flex-column body-card">
  <div class="d-flex justify-content-between flex-column flex-lg-row">
    <h3 class="text-primary mt-md-2" jhiTranslate="sheepFarm.vaccination.title"></h3>

    <button type="button" [routerLink]="['/', 'sheep-farm', 'add-sheep-vaccination']" class="btn btn-success" *ngIf="isMain">
      <span jhiTranslate="sheepFarm.vaccination.addButton"></span>
    </button>
  </div>

  <form>
    <div class="table-responsive">
      <table class="table table-hover mt-4">
        <thead class="thead-dark">
          <tr>
            <th style="width: 20%" scope="col" jhiTranslate="sheepFarm.vaccination.type" jhiSortable="type" (sort)="onSort($event)"></th>
            <th style="width: 20%" scope="col" jhiTranslate="sheepFarm.vaccination.name"></th>
            <th style="width: 30%" scope="col" jhiTranslate="sheepFarm.vaccination.numberOfDoses"></th>
            <th style="width: 30%" scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="service.list" [class.loading]="service.loading">
          <tr *ngFor="let item of service.list">
            <td>{{ currentLanguage | async | showLanguage: item.type }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.sheepVaccinationDoses ? item.sheepVaccinationDoses.length : 0 }}</td>
            <td>
              <a [class.disabled]="deleting" class="href mx-md-3" [routerLink]="['/', 'sheep-farm', 'view-sheep-vaccination', item?.id]">
                <fa-icon [icon]="faEye"></fa-icon>
              </a>
              <a *ngIf="isMain" [class.disabled]="deleting" class="href mx-md-3" (click)="delete(item.id)">
                <fa-icon [icon]="faTrashAlt" class="text-danger"></fa-icon>
              </a>
            </td>
          </tr>
        </tbody>
        <caption>
          {{
            'global.numberOfRecords' | translate: { fieldName: 'sheepFarm.vaccination.title' | translate }
          }}
          {{
            service.totalRecords
          }}
        </caption>
      </table>
    </div>

    <ngb-pagination
      *ngIf="service.totalRecords > 10"
      class="d-flex justify-content-center"
      [collectionSize]="service.totalRecords"
      [(page)]="service.page"
      [pageSize]="service.size"
    >
    </ngb-pagination>
  </form>
</div>

<jhi-confirm-modal #confirmDeleteModal messageKey="sheepFarm.vaccination.deleteMessage" (confirmed)="confirmed($event)">
</jhi-confirm-modal>
