<div *ngIf="person !== undefined">
  <h3 class="text-primary mt-md-2" jhiTranslate="person.viewHeader"></h3>

  <div class="form-group form-inline">
    <label jhiTranslate="person.name" class="col-md-4 p-0"></label>
    <div class="col-md-8 p-0">
      <span>{{ person?.name }}</span>
    </div>

    <label jhiTranslate="person.dateOfBirth" class="col-md-4 p-0"></label>
    <div class="col-md-8 p-0">
      <span>{{ person?.dateOfBirth | date: 'yyyy-MM-dd' }}</span>
    </div>

    <label jhiTranslate="person.gender" class="col-md-4 p-0"></label>
    <div class="col-md-8 p-0">
      <span>{{ 'person.' + person?.gender?.toLowerCase() | translate }}</span>
    </div>

    <label jhiTranslate="person.status" class="col-md-4 p-0"></label>
    <div class="col-md-8 p-0">
      <span>{{ 'person.' + person?.status?.toLowerCase() | translate }}</span>
    </div>

    <label *ngIf="person?.description" jhiTranslate="person.description" class="col-md-4 p-0"></label>
    <div *ngIf="person?.description" class="col-md-8 p-0">
      <span>{{ person?.description }}</span>
    </div>

    <label *ngIf="person?.mobileNumber" jhiTranslate="person.mobileNumber" class="col-md-4 p-0"></label>
    <div *ngIf="person?.mobileNumber" class="col-md-8 p-0">
      <span>{{ person?.mobileNumber }}</span>
    </div>

    <label *ngIf="person?.job" jhiTranslate="person.job" class="col-md-4 p-0"></label>
    <div *ngIf="person?.job" class="col-md-8 p-0">
      <span>{{ person?.job }}</span>
    </div>
  </div>

  <div class="mx-md-2 form-btn text-center">
    <button
      *ngIf="!personParent"
      type="submit"
      (click)="addFather()"
      class="btn btn-success"
      jhiTranslate="person.addFatherButton"
    ></button>
    <button
      *ngIf="person?.gender?.toLowerCase() === 'male'"
      type="submit"
      (click)="addChild('MALE')"
      class="btn btn-success"
      jhiTranslate="person.addMaleChildButton"
    ></button>
    <button
      *ngIf="person?.gender?.toLowerCase() === 'male'"
      type="submit"
      (click)="addChild('FEMALE')"
      class="btn btn-success"
      jhiTranslate="person.addFemaleChildButton"
    ></button>
    <button type="submit" (click)="update()" class="btn btn-success" jhiTranslate="person.updateButton"></button>
  </div>
</div>
<div *ngIf="person === undefined">
  <h3 class="text-primary mt-md-2"></h3>
</div>
