<div class="d-flex flex-column body-card">
  <h3 class="text-primary mt-md-2" jhiTranslate="financialTransaction.addExpenseTitle" *ngIf="type === 'EXPENSE'"></h3>
  <h3 class="text-primary mt-md-2" jhiTranslate="financialTransaction.addIncomeTitle" *ngIf="type === 'INCOME'"></h3>

  <form role="form" [formGroup]="form">
    <div class="form-group form-inline">
      <label jhiTranslate="financialTransaction.amount" class="col-md-2 required"></label>
      <div class="col-md-4 input">
        <input
          type="text"
          class="form-control"
          id="amount"
          formControlName="amount"
          placeholder="{{ 'financialTransaction.amountPlaceholder' | translate }}"
        />

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'amount':['required']">
          {{ 'global.message.error.required' | translate: { fieldName: 'financialTransaction.amount' | translate } }}
        </small>
      </div>

      <label jhiTranslate="financialTransaction.specificType" class="col-md-2 required"></label>
      <div class="col-md-4">
        <jhi-dropdown
          [data]="type === 'INCOME' ? incomeTypes : expenseTypes"
          name="specificType"
          formControlName="specificType"
          placeholder="financialTransaction.specificTypePlaceholder"
        >
        </jhi-dropdown>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'specificType':['required']">
          {{ 'global.message.error.required' | translate: { fieldName: 'financialTransaction.specificType' | translate } }}
        </small>
      </div>

      <label jhiTranslate="financialTransaction.description" class="col-md-2"></label>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="description"
          formControlName="description"
          placeholder="{{ 'financialTransaction.descriptionPlaceholder' | translate }}"
        />

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'description':['minlength', 'maxlength']">
          {{ 'global.message.error.pattern' | translate: { fieldName: 'financialTransaction.description' | translate } }}
        </small>
      </div>

      <div class="col-md-2 mx-md-2 form-btn mt-md-3">
        <button type="submit" (click)="add()" [disabled]="adding" class="btn btn-success mb-3">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="adding"></span>

          <span jhiTranslate="financialTransaction.expenseAddButton" *ngIf="!adding && type === 'EXPENSE'"></span>
          <span jhiTranslate="financialTransaction.incomeAddButton" *ngIf="!adding && type === 'INCOME'"></span>
        </button>
      </div>
    </div>
  </form>

  <h3 class="text-primary mt-md-4" jhiTranslate="financialTransaction.expenseTitle" *ngIf="type === 'EXPENSE'"></h3>
  <h3 class="text-primary mt-md-4" jhiTranslate="financialTransaction.incomeTitle" *ngIf="type === 'INCOME'"></h3>

  <form>
    <div class="form-group form-inline">
      <div class="col-md-2">
        <label jhiTranslate="financialTransaction.filter"></label>
        <label jhiTranslate="financialTransaction.fromFilter"></label>
      </div>
      <div class="col-md-4 input-group">
        <input
          type="text"
          class="form-control"
          id="fromFilter"
          [(ngModel)]="service.dateGraterThanOrEqual"
          placeholder="{{ 'financialTransaction.fromFilterPlaceholder' | translate }}"
          name="fromFilter"
          ngbDatepicker
          #fromFilter="ngbDatepicker"
          [autoClose]="true"
          [readonly]="true"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="fromFilter.toggle()" type="button"></button>
        </div>
      </div>

      <label jhiTranslate="financialTransaction.toFilter" class="col-md-2"></label>
      <div class="col-md-4 input-group">
        <input
          type="text"
          class="form-control"
          id="toFilter"
          [(ngModel)]="service.dateLessThanOrEqual"
          placeholder="{{ 'financialTransaction.toFilterPlaceholder' | translate }}"
          name="toFilter"
          ngbDatepicker
          #toFilter="ngbDatepicker"
          [autoClose]="true"
          [readonly]="true"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="toFilter.toggle()" type="button"></button>
        </div>
      </div>

      <label jhiTranslate="financialTransaction.specificType" class="col-md-2 mt-md-3"></label>
      <div class="col-md-4 mt-md-3">
        <jhi-dropdown
          [data]="type === 'INCOME' ? incomeTypes : expenseTypes"
          name="specificType"
          [(ngModel)]="service.specificType"
          placeholder="financialTransaction.specificTypePlaceholder"
        >
        </jhi-dropdown>
      </div>

      <div class="col-md-2 mx-md-2 form-btn mt-md-3">
        <button type="button" (click)="service.load()" [disabled]="service.loading" class="btn btn-primary">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="service.loading"></span>

          <span jhiTranslate="financialTransaction.listFilterButton" *ngIf="!service.loading"></span>
        </button>
      </div>

      <div class="col-md-2 mx-md-2 form-btn mt-md-3">
        <button
          type="button"
          (click)="service.clearFilters()"
          [disabled]="service.loading"
          class="btn btn-primary"
          jhiTranslate="financialTransaction.clearFilterButton"
        ></button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover mt-4">
        <thead class="thead-dark">
          <tr>
            <th
              style="width: 20%"
              scope="col"
              jhiTranslate="financialTransaction.date"
              jhiSortable="createdDate"
              (sort)="onSort($event)"
            ></th>
            <th style="width: 20%" scope="col" jhiTranslate="financialTransaction.amount"></th>
            <th style="width: 20%" scope="col" jhiTranslate="financialTransaction.specificType"></th>
            <th style="width: 20%" scope="col" jhiTranslate="financialTransaction.description"></th>
            <th style="width: 20%" scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="service.list" [class.loading]="service.loading">
          <tr *ngFor="let item of service.list">
            <td>{{ item.createdDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ currentLanguage | async | showLanguage: item.specificType }}</td>
            <td>{{ item.description }}</td>
            <td>
              <a [class.disabled]="deleting" class="href mx-md-3" (click)="delete(item.id)">
                <fa-icon [icon]="faTrashAlt" class="text-danger"></fa-icon>
              </a>
            </td>
          </tr>
        </tbody>

        <caption *ngIf="type === 'EXPENSE'">
          {{
            'global.numberOfRecords' | translate: { fieldName: 'financialTransaction.expenseTitle' | translate }
          }}
          {{
            service.totalRecords
          }}
        </caption>
        <caption *ngIf="type === 'INCOME'">
          {{
            'global.numberOfRecords' | translate: { fieldName: 'financialTransaction.incomeTitle' | translate }
          }}
          {{
            service.totalRecords
          }}
        </caption>
      </table>
    </div>

    <ngb-pagination
      *ngIf="service.totalRecords > 10"
      class="d-flex justify-content-center"
      [collectionSize]="service.totalRecords"
      [(page)]="service.page"
      [pageSize]="service.size"
    >
    </ngb-pagination>
  </form>
</div>

<jhi-confirm-modal #confirmDeleteModal messageKey="financialTransaction.deleteMessage" (confirmed)="confirmed($event)"> </jhi-confirm-modal>
