<div class="d-flex flex-column body-card">
  <h4 class="text-primary mt-md-2" jhiTranslate="global.termsAndConditionsDetails.title"></h4>
  <p class="text-justify" jhiTranslate="global.termsAndConditionsDetails.start"></p>

  <h4 class="text-primary mt-md-2" jhiTranslate="global.termsAndConditionsDetails.definitions"></h4>

  <ul>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.1.1"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.1.2"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.1.3"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.1.4"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.1.5"></li>
  </ul>

  <h4 class="text-primary mt-md-2" jhiTranslate="global.termsAndConditionsDetails.accountTerms"></h4>

  <ul>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.2.1"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.2.2"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.2.3"></li>
  </ul>

  <h4 class="text-primary mt-md-2" jhiTranslate="global.termsAndConditionsDetails.deleteAccount"></h4>
  <p class="text-justify" jhiTranslate="global.termsAndConditionsDetails.3.start"></p>
  <ul>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.3.1"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.3.2"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.3.3"></li>
  </ul>

  <h4 class="text-primary mt-md-2" jhiTranslate="global.termsAndConditionsDetails.priceAndServices"></h4>

  <ul>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.4.1"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.4.2"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.4.3"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.4.4"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.4.5"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.4.6"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.4.7"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.4.8"></li>
  </ul>

  <h4 class="text-primary mt-md-2" jhiTranslate="global.termsAndConditionsDetails.responsibility"></h4>

  <ul>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.5.1"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.5.2"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.5.3"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.5.4"></li>
  </ul>

  <h4 class="text-primary mt-md-2" jhiTranslate="global.termsAndConditionsDetails.general"></h4>

  <ul>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.6.1"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.6.2"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.6.3"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.6.4"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.6.5"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.6.6"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.6.7"></li>
    <li class="text-justify" jhiTranslate="global.termsAndConditionsDetails.6.8"></li>
  </ul>
</div>
