<div class="d-flex flex-column body-card">
  <div class="d-flex justify-content-between flex-column flex-lg-row">
    <h3 class="text-primary mt-md-2" jhiTranslate="farm.subscription.viewTitle"></h3>
  </div>

  <div role="form" *ngIf="subscription">
    <div class="form-group form-inline">
      <label jhiTranslate="farm.status" class="col-md-2"></label>
      <label class="col-md-4 text-muted">{{ currentLanguage | async | showLanguage: subscription.status }}</label>

      <label jhiTranslate="farm.subscription.package" class="col-md-2"></label>
      <label class="col-md-4 text-muted">{{ subscription.packageDTO.nameAr }}</label>

      <label jhiTranslate="farm.subscription.startDate" class="col-md-2"></label>
      <label class="col-md-4 text-muted">{{ subscription.startDate | date: 'yyyy-MM-dd' }}</label>

      <label jhiTranslate="farm.subscription.endDate" class="col-md-2"></label>
      <label class="col-md-4 text-muted">{{ subscription.endDate | date: 'yyyy-MM-dd' }}</label>

      <label jhiTranslate="farm.subscription.rangeEnd" class="col-md-2"></label>
      <label class="col-md-4 text-muted">{{ subscription.rangeEnd }}</label>

      <label jhiTranslate="farm.subscription.duration" class="col-md-2"></label>
      <label class="col-md-4 text-muted">{{ subscription.packageDTO.duration }}</label>
    </div>
  </div>

  <div class="d-flex justify-content-between flex-column flex-lg-row" *ngIf="subscription && subscription.invoice">
    <h3 class="text-primary mt-md-2" jhiTranslate="farm.subscription.invoiceTitle"></h3>
  </div>

  <div role="form" *ngIf="subscription && subscription.invoice">
    <div class="form-group form-inline">
      <label jhiTranslate="farm.status" class="col-md-2"></label>
      <label class="col-md-4 text-muted">{{ currentLanguage | async | showLanguage: subscription.invoice.status }}</label>

      <label jhiTranslate="farm.invoice.amount" class="col-md-2"></label>
      <label class="col-md-4 text-muted">{{ subscription.invoice.amount }}</label>

      <label jhiTranslate="farm.invoice.amountVat" class="col-md-2"></label>
      <label class="col-md-4 text-muted">{{ subscription.invoice.amountVat }}</label>

      <label jhiTranslate="farm.invoice.vatPercentage" class="col-md-2"></label>
      <label class="col-md-4 text-muted">{{ subscription.invoice.vatPercentage }}</label>

      <label jhiTranslate="farm.invoice.invoiceNumber" class="col-md-2" *ngIf="subscription.invoice.status.code === 'PAID'"></label>
      <label class="col-md-4 text-muted" *ngIf="subscription.invoice.status.code === 'PAID'">{{
        subscription.invoice.invoiceNumber
      }}</label>

      <label jhiTranslate="farm.invoice.paymentDate" class="col-md-2" *ngIf="subscription.invoice.status.code === 'PAID'"></label>
      <label class="col-md-4 text-muted" *ngIf="subscription.invoice.status.code === 'PAID'">{{
        subscription.invoice.paymentDate | date: 'yyyy-MM-dd'
      }}</label>
    </div>
  </div>

  <div
    class="d-flex justify-content-between flex-column flex-lg-row"
    *ngIf="subscription && subscription.subscriptionUpgradeRequests && subscription.subscriptionUpgradeRequests.length > 0"
  >
    <h3 class="text-primary mt-md-2" jhiTranslate="farm.subscription.subscriptionUpgradeRequest"></h3>
  </div>

  <div role="form" *ngIf="subscription && subscription.subscriptionUpgradeRequests && subscription.subscriptionUpgradeRequests.length > 0">
    <table class="table table-hover mt-4">
      <thead class="thead-dark">
        <tr>
          <th style="width: 20%" scope="col" jhiTranslate="farm.subscription.createdDate"></th>
          <th style="width: 15%" scope="col" jhiTranslate="farm.status"></th>
          <th style="width: 15%" scope="col" jhiTranslate="farm.subscription.package"></th>
          <th style="width: 15%" scope="col" jhiTranslate="farm.invoice.amount"></th>
          <th style="width: 15%" scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="subscription.subscriptionUpgradeRequests">
        <tr *ngFor="let item of subscription.subscriptionUpgradeRequests">
          <td>{{ item.createdDate | date: 'yyyy-MM-dd' }}</td>
          <td>{{ currentLanguage | async | showLanguage: item.status }}</td>
          <td>{{ currentLanguage | async | showNameLanguage: item.packageDTO }}</td>
          <td>{{ item.invoice.amount }}</td>
          <td>
            <button
              *ngIf="item.status.code === 'WAITING_FOR_PAYMENT'"
              type="button"
              (click)="cancel(item.id)"
              [disabled]="cancelling"
              class="btn btn-primary btn-sm py-0"
            >
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="cancelling"></span>

              <span jhiTranslate="farm.subscription.cancelButton" *ngIf="!cancelling"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<jhi-confirm-modal #confirmDeleteModal messageKey="farm.subscription.cancelUpgradeMessage" (confirmed)="confirmed($event)">
</jhi-confirm-modal>
