<div class="row">
  <div class="col-md-6">
    <div class="d-flex flex-column body-card">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex flex-column body-card">
      <h4 class="text-primary mt-md-2" jhiTranslate="global.aboutUsDetails.title"></h4>

      <p jhiTranslate="global.aboutUsDetails.start"></p>

      <h4 class="text-primary mt-md-2" jhiTranslate="global.aboutUsDetails.supportedFamily"></h4>

      <ul>
        <li jhiTranslate="global.aboutUsDetails.1.1"></li>
        <li jhiTranslate="global.aboutUsDetails.1.2"></li>
        <li jhiTranslate="global.aboutUsDetails.1.3"></li>
      </ul>

      <h4 class="text-primary mt-md-2" jhiTranslate="global.aboutUsDetails.services"></h4>

      <ul>
        <li jhiTranslate="global.aboutUsDetails.2.1"></li>
        <li jhiTranslate="global.aboutUsDetails.2.2"></li>
        <li jhiTranslate="global.aboutUsDetails.2.3"></li>
        <li jhiTranslate="global.aboutUsDetails.2.4"></li>
        <li jhiTranslate="global.aboutUsDetails.2.5"></li>
        <li jhiTranslate="global.aboutUsDetails.2.6"></li>
      </ul>
    </div>
  </div>
</div>
