<div *ngIf="!sent">
  <h3 class="text-primary mt-2" jhiTranslate="anon.forgotPasswordHeader"></h3>

  <form role="form" [formGroup]="form">
    <div class="form-group mx-2">
      <label jhiTranslate="anon.email" class="required"></label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="{{ 'anon.emailPlaceholder' | translate }}" />

      <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'email':['required']">
        {{ 'global.message.error.required' | translate: { fieldName: 'anon.email' | translate } }}
      </small>
      <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'email':['email']:['required']">
        {{ 'global.message.error.pattern' | translate: { fieldName: 'anon.email' | translate } }}
      </small>
    </div>

    <div class="form-group">
      <re-captcha #captchaRef="reCaptcha" [siteKey]="siteKey" size="invisible" (resolved)="resolved($event)"> </re-captcha>
    </div>

    <div class="mx-2 form-btn">
      <button type="submit" (click)="submit(captchaRef)" [disabled]="submitting" class="btn btn-primary btn-block mb-3">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>

        <span jhiTranslate="anon.forgotPasswordButton" *ngIf="!submitting"></span>
      </button>
    </div>
  </form>
</div>

<div *ngIf="sent">
  <h3 class="text-primary mt-2" jhiTranslate="anon.resetPasswordHeader"></h3>

  <form role="form" [formGroup]="resetForm">
    <div class="form-group mx-2">
      <label jhiTranslate="anon.otp" class="required"></label>
      <input type="text" class="form-control" id="otp" formControlName="otp" placeholder="{{ 'anon.otpPlaceholder' | translate }}" />

      <small class="form-text text-danger" *ngIf="resetForm | showErrorMessage: 'otp':['required']">
        {{ 'global.message.error.required' | translate: { fieldName: 'anon.otp' | translate } }}
      </small>
      <small class="form-text text-danger" *ngIf="resetForm | showErrorMessage: 'otp':['minlength', 'maxlength']:['required']">
        {{ 'global.message.error.pattern' | translate: { fieldName: 'anon.otp' | translate } }}
      </small>
    </div>

    <div class="form-group mx-2">
      <label jhiTranslate="anon.newPassword" class="required"></label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        placeholder="{{ 'anon.newPasswordPlaceholder' | translate }}"
      />

      <small class="form-text text-danger" *ngIf="resetForm | showErrorMessage: 'password':['required']">
        {{ 'global.message.error.required' | translate: { fieldName: 'anon.newPassword' | translate } }}
      </small>
      <small class="form-text text-danger" *ngIf="resetForm | showErrorMessage: 'password':['minlength', 'maxlength']:['required']">
        {{ 'global.message.error.passwordLength' | translate }}
      </small>
      <small
        class="form-text text-danger"
        *ngIf="resetForm | showErrorMessage: 'password':['pattern']:['required', 'minlength', 'maxlength']"
      >
        {{ 'global.message.error.passwordPattern' | translate }}
      </small>
    </div>

    <div class="mx-2 form-btn">
      <button type="button" (click)="resetPassword()" [disabled]="submitting" class="btn btn-primary btn-block mb-3">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>

        <span jhiTranslate="anon.resetPasswordHeader" *ngIf="!submitting"></span>
      </button>
    </div>
  </form>
</div>
