<div class="d-flex flex-column body-card">
  <h4 class="text-primary mt-md-2" jhiTranslate="global.aboutUsDetails.title"></h4>

  <p class="text-justify" jhiTranslate="global.aboutUsDetails.start"></p>

  <h4 class="text-primary mt-md-2" jhiTranslate="global.aboutUsDetails.services"></h4>

  <ul>
    <li class="text-justify" jhiTranslate="global.aboutUsDetails.2.1"></li>
    <li class="text-justify" jhiTranslate="global.aboutUsDetails.2.2"></li>
    <li class="text-justify" jhiTranslate="global.aboutUsDetails.2.3"></li>
    <li class="text-justify" jhiTranslate="global.aboutUsDetails.2.4"></li>
  </ul>
</div>
