<div class="d-flex flex-column body-card">
  <h3 class="text-primary mt-md-2" jhiTranslate="sheepFarm.treatment.addHeader"></h3>

  <form role="form" [formGroup]="form">
    <div class="form-group form-inline">
      <label jhiTranslate="sheepFarm.treatment.type" class="col-md-2 required"></label>
      <div class="col-md-4">
        <jhi-dropdown [data]="sheepTreatmentTypes" formControlName="type" placeholder="sheepFarm.treatment.typePlaceholder"> </jhi-dropdown>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'type':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'sheepFarm.treatment.type' | translate } }}
        </small>
      </div>

      <label jhiTranslate="sheepFarm.treatment.name" class="col-md-2"></label>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="{{ 'sheepFarm.treatment.namePlaceholder' | translate }}"
        />

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'name':['maxlength']">
          {{ 'global.message.error.pattern' | translate: { fieldName: 'sheepFarm.treatment.name' | translate } }}
        </small>
      </div>

      <label jhiTranslate="sheepFarm.treatment.doseType" class="col-md-2 mt-md-3 required"></label>
      <div class="col-md-4 mt-md-3">
        <jhi-dropdown [data]="sheepTreatmentDoseTypes" formControlName="doseType" placeholder="sheepFarm.treatment.doseTypePlaceholder">
        </jhi-dropdown>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'doseType':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'sheepFarm.treatment.doseType' | translate } }}
        </small>
      </div>

      <label jhiTranslate="sheepFarm.treatment.numberOfDays" class="col-md-2 mt-md-3 required"></label>
      <div class="col-md-4 mt-md-3">
        <input
          type="number"
          class="form-control"
          id="numberOfDays"
          formControlName="numberOfDays"
          placeholder="{{ 'sheepFarm.treatment.numberOfDaysPlaceholder' | translate }}"
          min="1"
        />

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'numberOfDays':['required']">
          {{ 'global.message.error.required' | translate: { fieldName: 'sheepFarm.treatment.numberOfDays' | translate } }}
        </small>
        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'numberOfDays':['min']:['required']">
          {{ 'sheepFarm.message.error.numberOfDaysPattern' | translate }}
        </small>
      </div>

      <label jhiTranslate="sheepFarm.treatment.startingDate" class="col-md-2 mt-md-3 required"></label>
      <div class="col-md-4 mt-md-3 input-group">
        <input
          type="text"
          class="form-control"
          id="startingDate"
          formControlName="startingDate"
          placeholder="{{ 'sheepFarm.treatment.startingDatePlaceholder' | translate }}"
          name="startingDate"
          ngbDatepicker
          #startingDate="ngbDatepicker"
          [autoClose]="true"
          [readonly]="true"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="startingDate.toggle()" type="button"></button>
        </div>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'startingDate':['required']">
          {{ 'global.message.error.required' | translate: { fieldName: 'sheepFarm.treatment.startingDate' | translate } }}
        </small>
      </div>

      <div class="col-md-6 mt-md-3"></div>

      <label jhiTranslate="sheepFarm.treatment.givenTo" class="col-md-2 mt-md-3 pt-2 required"></label>
      <div class="col-md-10 mt-md-3">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="givenTo" formControlName="givenTo">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="'ALL'" /> {{ 'sheepFarm.treatment.all' | translate }}
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="'SPECIFIC_TYPE'" /> {{ 'sheepFarm.treatment.specificType' | translate }}
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="'SPECIFIC_SHEEP'" /> {{ 'sheepFarm.treatment.specificSheep' | translate }}
          </label>
        </div>
      </div>

      <label jhiTranslate="sheepFarm.treatment.sheepType" *ngIf="form.get('sheepType')?.enabled" class="col-md-2 mt-md-3 required"></label>
      <div class="col-md-4 mt-md-3" *ngIf="form.get('sheepType')?.enabled">
        <jhi-dropdown [data]="sheepTypes" formControlName="sheepType" placeholder="sheepFarm.treatment.sheepTypePlaceholder">
        </jhi-dropdown>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'sheepType':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'sheepFarm.treatment.sheepType' | translate } }}
        </small>
      </div>

      <label jhiTranslate="sheepFarm.treatment.sheep" *ngIf="form.get('sheep')?.enabled" class="col-md-2 mt-md-3 required"></label>
      <div class="col-md-4 mt-md-3" *ngIf="form.get('sheep')?.enabled">
        <ng-multiselect-dropdown
          [settings]="sheepDropdownSettings"
          [data]="sheep"
          formControlName="sheep"
          [placeholder]="'sheepFarm.treatment.sheepPlaceholder' | translate"
        >
        </ng-multiselect-dropdown>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'sheep':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'sheepFarm.treatment.sheep' | translate } }}
        </small>
      </div>

      <div class="col-md-6 mt-md-3" *ngIf="form.get('sheep')?.enabled || form.get('sheepType')?.enabled"></div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button type="submit" (click)="add()" [disabled]="submitting" class="btn btn-success">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>

          <span jhiTranslate="sheepFarm.treatment.addButton" *ngIf="!submitting"></span>
        </button>
      </div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button
          type="button"
          [routerLink]="['/', 'sheep-familyTree', 'list-sheep-treatment']"
          [disabled]="submitting"
          class="btn btn-light"
          jhiTranslate="global.cancel"
        ></button>
      </div>
    </div>
  </form>
</div>
