<div class="d-flex flex-column body-card">
  <h3 class="text-primary mt-md-2" jhiTranslate="sheepFarm.copulation.addHeader"></h3>

  <form role="form" [formGroup]="form">
    <div class="form-group form-inline">
      <label *ngIf="item?.gender?.code === 'MALE'" jhiTranslate="sheepFarm.copulation.ewe" class="col-md-2 required"></label>
      <div *ngIf="item?.gender?.code === 'MALE'" class="col-md-4">
        <jhi-general-dropdown [data]="ewes" label="number" formControlName="ewe" placeholder="sheepFarm.copulation.ewePlaceholder">
        </jhi-general-dropdown>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'ewe':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'sheepFarm.copulation.type' | translate } }}
        </small>
      </div>

      <label *ngIf="item?.gender?.code === 'FEMALE'" jhiTranslate="sheepFarm.copulation.ram" class="col-md-2 required"></label>
      <div *ngIf="item?.gender?.code === 'FEMALE'" class="col-md-4">
        <jhi-general-dropdown [data]="rams" label="number" formControlName="ram" placeholder="sheepFarm.copulation.ramPlaceholder">
        </jhi-general-dropdown>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'ram':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'sheepFarm.copulation.ram' | translate } }}
        </small>
      </div>

      <label jhiTranslate="sheepFarm.copulation.impregnationDate" class="col-md-2"></label>
      <div class="col-md-4 input-group">
        <input
          type="text"
          class="form-control"
          id="impregnationDate"
          formControlName="impregnationDate"
          placeholder="{{ 'sheepFarm.copulation.impregnationDatePlaceholder' | translate }}"
          name="impregnationDate"
          ngbDatepicker
          #impregnationDate="ngbDatepicker"
          [autoClose]="true"
          [readonly]="true"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="impregnationDate.toggle()" type="button"></button>
        </div>

        <small class="form-text text-danger" *ngIf="form | showErrorMessage: 'impregnationDate':['required']">
          {{ 'global.message.error.requiredSelect' | translate: { fieldName: 'sheepFarm.copulation.impregnationDate' | translate } }}
        </small>
      </div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button type="submit" (click)="add()" [disabled]="submitting" class="btn btn-success">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="submitting"></span>

          <span jhiTranslate="sheepFarm.copulation.addButton" *ngIf="!submitting"></span>
        </button>
      </div>

      <div class="col-md-2 mx-md-2 mt-md-3 form-btn">
        <button
          type="button"
          [routerLink]="['/', 'sheep-familyTree', 'view', item?.id]"
          [disabled]="submitting"
          class="btn btn-light"
          jhiTranslate="global.cancel"
        ></button>
      </div>
    </div>
  </form>
</div>
